<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service</title>
    <link rel="stylesheet" href="./../css/style.css">
   
    <script src="./../js/jquery.js"></script>
    <script src="./../js/main.js"></script>

    <link rel="stylesheet" href="./../css/addservice.css">
    <script src="./../js/addservice.js"></script>
</head>
<body>
        
    <header class="headerContainer">
        <div class="container1">
             <div class="icon" >

                <img src="./../images/FizzBizNet.png" alt="" srcset="" width="100px" height="80px">
            </div>
        <div class="appbar">
           
            <div class="appname"><h1 class="bizTitle">FIZZBIZNET</h1></div>
        </div>

          
        <div class="menu">
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>
        <div class="profileIcon" style="order: 3; padding: 2%;">
            <img src="./../images/user.svg" class="menuIcon" style="width: 40px;"/>
        </div>
    </div>
                
    <div class="menuList">
        <div class="menu">
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>
        <a href="./../profile" class="menuitem"> <img   src="./../images/home.svg" alt="" srcset="" width="30px" style=""> <h4>Home</h4></a>
        <a  class="menuitem" id="showToolbar" href="./../homezapps"> <img   src="./../images/customer.svg" alt="" srcset="" width="30px" style=""> <h4> Product&Services</h4></a>
        <a href="./../home" class="menuitem"> <img   src="./../images/team.svg" alt="" srcset="" width="30px" style=""> <h4>About</h4></a>
        <a href="./../Register" class="menuitem"> <img    src="./../images/add (1).svg" alt="" srcset="" width="30px" style=""> <h4> Register</h4></a>
        <a href="./../login" class="menuitem"> <img   src="./../images/log-in.svg" alt="" srcset="" width="30px" style=""> <h4> SignIn </h4></a>
        <a href="./../logout" class="menuitem"><img   src="./../images/log-out.svg" alt="" srcset="" width="30px" style=""> <h4>SignOut </h4></a>
        </div>


       
       
    </header>
    
    <mcenu type="toolbar" class="toolbarList">

       
        <div class="toolbar-sub-1" id="searchbar">
            <input type="search" name="searchForService" id="">
        </div>
            <div class="toolbar-sub-1" id="wholesalemenu">WholeSales/Retails <div class="sub-wholesale-menu">
                <a href="http://" >Online Stores</a>
                <a href="http://" >Shopping Centers</a>
            </div></div>
            <div class="toolbar-sub-1" id="lifestylemenu">Life Style
                <div class="sub-lifestyle-menu">
                    <a href="http://" >Photography</a>
                   <a href="http://"  >Hotel/Lounge</a>
                   <a href="http://" >Bars/Liquor Stores</a>
                    <div id="beautymenu" >Beauty
                        <div class="sub-beauty-menu">
                            <a href="http://" >MakeUp Artist</a>
                           <a href="http://" >Saloon/Kinyozi</a>
                            <a href="http://" >Accessories</a>
                           
                                <a href="http://">Clothlines/Shoes</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-sub-1" id="technologymenu">Technology
                <div class="sub-technology-menu">
                  <a href="http://">Tech Stores</a>
                   <a href="http://">Web Development</a>
                   <a href="http://">Logo Design</a>
                  <a href="http://">Graphic Design</a>
                  <a href="http://">App Development</a>
                   <a href="http://">Game Development</a>
                    <a href="http://">Video Editing</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="educationmenu">Education
                <div class="sub-education-menu">
                    <a href="http://">Schools</a>
                    <a href="http://">Tuitors</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="consultantmenu">Consult/advisor
                <div class="sub-consultant-menu">
                    <a href="http://">Health</a>
                    <a href="http://">Imformation Technology(IT)</a>
                    <a href="http://">Law</a>
                    <a href="http://">Engineering</a>
                   <a href="http://">Architect&Design</a>
                    <a href="http://">Others</a>
                </div>
           
            
        </div>
    </mcenu>

    <div class="body">

        <form action="/add/user" method="post" enctype="multipart/form-data">

<div class="form">

   


    <div class="addService" id="socialMedia">


        <div class="basicInfo">
            <caption> <h2>Profile Information</h2></caption>

             <div class="serviceInt">
                   <p>Note: The fields with the red star <span class="starErr">*</span> are required to be filled</p>
                   <p><span style="color: red;">{{error}}</span></p>
            
     </div>
       <section>
        <div class="inp">
            <img src="./../images/businessgazzete.png.jpg" alt="" srcset="" ><br><br>
        <label for="companyIcon">Profile Image <span class="starErr">*</span></label>

        <br><br>
         <p style="color: red;">{{profileError}}</p>
        <input type="file" name="profileImage" id="iconInput" class="inputText" required="true" >
        <br><br>
    </div>

    <div class="inp">
        <p style="color: red;">{{fnErr}}</p>
        <label for="companyName">First Name <span class="starErr">*</span></label>
        <br>
        <input type="text" name="firstName" id="" class="inputText" required="true" value="{{firstName}}">
    </div>

    <div class="inp">
        <p style="color: red;">{{lnErr}}</p>
        <label for="companyName">Last Name <span class="starErr">*</span></label>
        <br>
        <input type="text" name="lastName" id="" class="inputText"  required="true" value="{{lastName}}">
    </div>
    <div class="inp">
        <p style="color: red;">{{unErr}}</p>
        <label for="companyName">User Name <span class="starErr">*</span></label>
        <br><br>
        <input type="text" name="userName" id="" class="inputText"  required="true"  value="{{userName}}">
    </div>

    <div class="inp">
        <label for="companyCountry">Date of Birth <span class="starErr">*</span></label>
        <input type="date" name="age" id="" class="input"  required="true" >
    </div>

    <div class="inp">
        <p style="color: red;">{{emErr}}</p>
    <label for="companyEmail">Email <span class="starErr">*</span></label>
    <br><br>
    <input type="email" name="userEmail" id="" class="inputText"  required="true" value="{{email}}">
</div>

<div class="inp">
    <label for="companyEmail">Confirm Email </label>
    <br><br>
    <input type="email" name="conUserEmail" id="" class="inputText"  required="true" value="{{confimEmail}}">
</div>

 <div class="inp">
     <p style="color: red;">{{passErr}}</p>
    <label for="companyEmail">Password <span class="starErr">*</span></label>
    <br><br>
    <input type="password" name="password" id="" class="inputText"  required="true">
</div>

<div class="inp">
    <label for="companyEmail">Confirm Password </label>
    <br><br>
    <input type="password" name="conUserPasswd" id="" class="inputText"  required="true">
</div>
<div class="branchLocation">

    <h3>Location Information</h3>
              <p style="color: red;">{{contErr}}</p>

    <div class="inp">

        <label for="companyCountry">Continent location <span class="starErr">*</span></label>
    <select name="continent" id=""  >
        <option value="Africa" >Africa</option>
        
        <option value="Asia">Asia</option>

        <option value="Europe">Europe</option>

    </select>
    
    </div>

  
    <div class="inp">

        <label for="companyCountry"> Country Location <span class="starErr">*</span></label>
        <input type="text" name="country" id="" class="input"  required="true" value="{{country}}">
    </div>

    <div class="inp">
        <label for="companyCountry">Town/City Location <span class="starErr">*</span></label>
        <input type="text" name="city" id="" class="input"  required="true" value="{{townCity}}">
    </div>

    <div class="inp">
        <label for="companyCountry">Address <span class="starErr">*</span></label>
        <input type="text" name="address" id="" class="input"  required="true" value="{{address}}"> 
    </div>
</div>

<caption> <h2>contact Information</h2></caption>

<div class="contactInfo">

    <div class="inp">
        <p style="color: red;">{{wokrTelErr}}</p>
        <label for="companyCountry">Home Telephone Number <span class="starErr">*</span></label>
        <input type="tel" name="telno" id="" class="input"  required="true" value="{{wokyTel}}" >
    </div>
    <div class="inp">
        <p style="color: red;">{{mobileErr}}</p>
        <label for="companyCountry">Work Telephone Number</label>
        <input type="tel" name="worktelno" id="" class="input" value="{{mobyTel}}" >
    </div>
</div>

    </section>

        </div>

        <caption> <h2>Social Media Information</h2></caption>

       
        <div class="social">

            <div class="inp">
                <label for="companyCountry">Facebook Link</label>
                <input type="url" name="facebook" id="" class="input">
            </div>
            <div class="inp">
                <label for="companyCountry">Instagram LInk</label>
                <input type="url" name="instagram" id="" class="input">
            </div>
            <div class="inp">
                <label for="companyCountry">Twitter Link</label>
                <input type="url" name="twitter" id="" class="input">
            </div>
            <div class="inp">
                <label for="companyCountry">Github Link</label>
                <input type="url" name="github" id="" class="input">
            </div>
            <div class="inp">
                <label for="companyCountry">Linkedln Link</label>
                <input type="url" name="linkedln" id="" class="input">
            </div>
            <div class="inp">
                <label for="companyCountry">Youtube Channel Link</label>
                <input type="url" name="youtubelink" id="" class="input">
            </div>
        </div>
        <div class="next" id="reset">
            <input type="reset" value="Reset" class="btnNext">
        </div>
    
        <div class="next" id="submit">
            <input type="submit" value="Submit" class="btnNext">
        </div>
</div>
        </form>


        <footer style="color: aqua;">
            <table width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0">
                <tr>
                <td id="footer"><small>&copy; 2020 by Winslow Georgos. Proudly created with GeorgosTech.</small></td>
                <td><img src="./../images/twitter.svg" alt="" style="width: 20px;"></td>
                    <td><img src="./../images/youtube.svg" alt="" style="width: 20px;"></td>
                    <td><img src="./../images/instagram.svg" alt="" style="width: 20px;"></td>
                    <td><img src="./../images/facebook.svg" alt="" style="width: 20px;"></td>
                </tr>
            </table></footer>
    </div>
    
    </body>
    </html>