<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FizzBizNet: {{{row.BUSINESSNAME}}}</title>
    <link rel="stylesheet" href="./../css/style.css">
    <link rel="stylesheet" href="./../css/serviceApp.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    
    <script src="./../js/main.js"></script>
        <script src="./../js/handleservicebtns.js"></script>

    <link rel="shortcut icon" href="./../images/networking-100.png" type="image/x-icon">
</head>
<body>
    
    <header class="headerContainer">
        <div class="container1">
             <div class="icon" >

                <img src="./../images/{{{row.BRANDICON}}}" alt="" srcset="" width="100px" height="80px">
            </div>
        <div class="appbar">
           
            <div class="appname"><h1 class="bizTitle"><em>{{{row.BUSINESSNAME}}}</em></h1></div>
        </div>

          
        <div class="menu">
            
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>
        <div class="profileIcon" style="order: 3; padding: 2%;">
            {{#if loggedUser}}
          <a  href="/profile/{{{loggedUser.username}}}"> <img src="./../images/{{{loggedUser.profileimage}}}" class="loggeduserIcon" style="width: 40px;"/></a> 

            {{else}}
          <a href="/login"> <img src="./../images/user.svg" class="menuIcon" style="width: 40px;"/></a> 

            {{/if}}
        </div>
    </div>
                
    <div class="menuList">
        <div class="menu">
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>

        <a href="/" class="menuitem"> <img src="./../images/home.svg" alt="" srcset="" width="30px" style="">
            <h4>Home</h4>
        </a>
        
        <a class="menuitem" id="showToolbar" href="/apps/all"> <img src="./../images/customer.svg" alt="" srcset="" width="30px"
                style="">
            <h4> Product&Services</h4>
        </a>
        <a href="/#howItWork" class="menuitem"> <img src="./../images/team.svg" alt="" srcset="" width="30px" style="">
            <h4>About</h4>
        </a>
        {{#if loggedUser}}
        <a href="/profile/{{{loggedUser.username}}}" class="menuitem"> <img src="./../images/user.svg" alt="" srcset=""
                width="30px" style="">
            <h4> My Profile</h4>
        </a>
        {{else}}
        <a href="/Register" class="menuitem"> <img src="./../images/add (1).svg" alt="" srcset="" width="30px" style="">
            <h4> Register</h4>
        </a>
        <a href="/login" class="menuitem"> <img src="./../images/log-in.svg" alt="" srcset="" width="30px" style="">
            <h4> SignIn </h4>
        </a>
        {{/if}}
        <a href="./../logout" class="menuitem"><img src="./../images/log-out.svg" alt="" srcset="" width="30px" style="">
            <h4>SignOut </h4>
        </a>

      
        </div>


       
       
    </header>
    
      <menu type="toolbar" class="toolbarList">

       
        <div class="toolbar-sub-1" id="searchbar">
            <input type="search" name="searchForService" id="">
        </div>
            <div class="toolbar-sub-1" id="wholesalemenu">WholeSales/Retails <div class="sub-wholesale-menu">
                <a href="/apps/101" >Online Stores</a>
                <a href="/apps/102" >Shopping Centers</a>
            </div></div>
            <div class="toolbar-sub-1" id="lifestylemenu">Life Style
                <div class="sub-lifestyle-menu">
                    <a href="/apps/201" >Photography</a>
                   <a href="/apps/202"  >Hotel/Lounge</a>
                   <a href="/apps/203" >Bars/Liquor Stores</a>
                    <div id="beautymenu" >Beauty
                        <div class="sub-beauty-menu">
                            <a href="/apps/301" >MakeUp Artist</a>
                           <a href="/apps/302" >Saloon/Kinyozi</a>
                            <a href="/apps/303" >Accessories</a>
                           
                                <a href="/apps/304">Clothlines/Shoes</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-sub-1" id="technologymenu">Technology
                <div class="sub-technology-menu">
                  <a href="/apps/401">Tech Stores</a>
                   <a href="/apps/402">Web Development</a>
                   <a href="/apps/403">Logo Design</a>
                  <a href="/apps/404">Graphic Design</a>
                  <a href="/apps/405">App Development</a>
                   <a href="/apps/406">Game Development</a>
                    <a href="/apps/407">Video Editing</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="educationmenu">Education
                <div class="sub-education-menu">
                    <a href="/apps/501">Schools</a>
                    <a href="/apps/502">Tuitors</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="consultantmenu">Consult/advisor
                <div class="sub-consultant-menu">
                    <a href="/apps/601">Health</a>
                    <a href="/apps/602">Imformation Technology(IT)</a>
                    <a href="/apps/603">Law</a>
                    <a href="/apps/604">Engineering</a>
                   <a href="/apps/605">Architect&Design</a>
                    <a href="/apps/606">Others</a>
                </div>
           
            
        </div>
    </menu>
    
    <div class="body">

    
<div class="column1">



</div>
<main class="column1" id="main">

   
    <div  class="sub-column-1" id="missionSection">

        <div class="sub-column-2"  id="companyIcon">
            <img src="./../images/{{{row.BRANDICON}}}" alt="" srcset="">
            {{#if isowner}}
            <br>
            <button class="editBtn" onclick="handleEditIcon()">edit</button>
            <div class="editIcon" style="position: absolute; width: 80%; background-color: black; padding: 4%; z-index: 2; opacity: 0.9; display: none;">
                <p style="color: grey;"> Change Your Brand Icon Image</p>
                <form action="/updateiconimage" method="POST" enctype="multipart/form-data" >
                <input type="file" id="iconImgcng" name="profileImage" style="background-color: white;">
                <input type="hidden" name="appname" value="{{{row.BUSINESSNAME}}}">
                <input type="hidden" name="appid" value="{{{row.ID}}}">
                <input type="submit" value="submit" style="width: fit-content; color: white; background-color: green; border: 2px solid green; border-radius: 4px; padding: 2%; margin: 2%; text-decoration: none;">
                </form>
            </div>
            {{/if}}
        </div>

        <div class="sub-column-2" id="quotes">
        
            <p>
                <button disabled="disabled" style="background-color: white; padding:1%;  border : 2px solid white; border-radius: 4px;"> <img src="./../images/view.svg" alt="" srcset="" style="width: 10px;"> {{{row.views}}}
                    views</button>
                <button disabled="disabled" style="background-color: white; padding:1%;  border : 2px solid white; border-radius: 4px;"> <img src="./../images/like (1).svg" alt="" srcset="" style="width: 10px;"> {{{row.likes}}}
                    likes</button>
                <button disabled="disabled" style="background-color: white; padding:1%;  border : 2px solid white; border-radius: 4px;"> <img src="./../images/customer.svg" alt="" srcset="" style="width: 10px;"> {{{row.followers}}}
                    followers</button>
        
        
            </p>
        </div>

        {{#if isowner}}


<div class="sub-column-2" id="quotes">
    <h3 class="subTitle">Admin Handle</h3>
    <p>
       <a href="/businessorders/{{{row.ID}}}"> <button 
            style="background-color: orange; color: white; padding:2%; border: 2px solid orange; border-radius:4px;">Pending
            Orders</button> </a>
      <a href="/businesscartorders/{{{row.ID}}}">  <button 
            style="background-color: green; color : white; padding:2%; border: 2px solid green; border-radius :4px;">Cart
            Orders</button></a>
            <br>
            <a href="/businessdeletecomponents/{{{row.ID}}}"> <button
                    style="background-color: red; color : white; padding:2%; border: 2px solid red; border-radius :4px;">Remove Apps component</button></a>
    </p>
</div>

{{else}}
      

<div class="sub-column-2" id="quotes">

    <p>

        <button 
            style="background-color: white; padding:1%;  border : 2px solid white; border-radius: 4px;" onclick="handleLike( {{{row.ID}}}, '{{{row.BUSINESSNAME}}}', '{{{row.BRANDICON}}}')"> <img
                src="./../images/like (1).svg" alt="" srcset="" style="width: 10px;"> + LIke</button>
        <button onclick="handleFollow( {{{row.ID}}}, '{{{row.BUSINESSNAME}}}', '{{{row.BRANDICON}}}')"
            style="background-color: white; padding:1%;  border : 2px solid white; border-radius: 4px;"> <img
                src="./../images/customer.svg" alt="" srcset="" style="width: 10px;"> + Follow</button>


    </p>
</div>

            {{/if}}

        <div  class="sub-column-2" id="mission">
        <h3 class="subTitle">Mission</h3>
        <p id="missionChanged">{{{row.MISSION}}}</p>
        {{#if isowner}}
        
        <button class="editBtn" onclick="handleUpdatemission({{{row.ID}}})">edit</button>
        {{/if}}
    </div>

      <div  class="sub-column-2" id="quotes">
            <h3 class="subTitle">Business Email</h3>
            <p>
               {{{row.BUSINESSEMAIL}}}
            </p>
            {{#if isowner}}
            
            <button class="editBtn" onclick="handleUpdateEmail({{{row.ID}}})">edit</button>
            {{/if}}
        </div>
            <div  class="sub-column-2" id="team">
                    <h3 class="subTitle">Social Media</h3>
                    <br>
                    <br>
                    <table width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0">
                        <tr>
                           

                           
                        <td><a href={{{row.FACEBOOK}}}><img src="./../images/facebook.svg" alt="" style="width: 20px;"></a></td>
                                                <td><a href={{{row.INSTAGRAM}}}><img src="./../images/instagram.svg" alt="" style="width: 20px;"></a></td>

                                <td><a href={{{row.TWITTER}}}><img src="./../images/twitter.svg" alt="" style="width: 20px;"></a></td>
                                    <td><a href={{{row.YOUTUBE}}}><img src="./../images/youtube.svg" alt="" style="width: 20px;"></a></td>

                          
                        </tr>
                    </table>
                </div>
        <div  class="sub-column-2" id="quotes">
            <h3 class="subTitle">Introduction</h3>
            <p>
               {{{row.SHORTINTRO}}}
            </p>
            {{#if isowner}}
            
            <button class="editBtn" onclick="handleUpdateIntro({{{row.ID}}})">edit</button>
            {{/if}}
        </div>
    </div>
    <div  class="sub-column-1" id="serviceSection" style="scroll-behavior: smooth; overflow:auto; max-height: 240vh;">

        <h2 class="subTitle">Serices/Products</h2>

        <p>
            {{#if isowner}}
            <button style="background-color: green; border:2px solid green; padding:2%; border-radius:4px; color:white;"
                onclick="handleAddService()">Add</button>

                <div class="addServiceProduct"
                    style="position: absolute; width: 400px;  margin:auto; background-color: black; padding: 4%; z-index: 2; opacity: 0.9; display: none;">
                    <p style="color: grey;"> AddService</p>
                    <form action="/updateaddservice" method="POST" enctype="multipart/form-data">
                        <input type="file" id="iconImgcng" name="serviceIcon" style="background-color: white;" required><br><br>
                        <label for="serviceName">Service Name</label> <br><br>
                        <input type="text" name="serviceName" id="" required> <br><br>
                        <label for="serviceName">Service Description</label> <br><br>
                        <textarea name="serviceDesc" id="" cols="30" rows="10" required></textarea> <br><br>
                        <label for="serviceName">Service price</label> <br><br>
                        <input type="text" name="servicePrice" id="" required> <br><br>
                        <input type="hidden" name="appname" value="{{{row.BUSINESSNAME}}}">
                        <input type="hidden" name="appid" value="{{{row.ID}}}">
                        <input type="submit" value="submit"
                            style="width: fit-content; color: white; background-color: green; border: 2px solid green; border-radius: 4px; padding: 2%; margin: 2%; text-decoration: none;">
                    </form>
                </div>
            
            {{/if}}
        </p>

        <div class="servicesCol">
            {{#each services}}
<div class="sub-column-2">
    <h3>{{{SERVICENAME}}}</h3>
    <img src="./../images/{{{SERVICEICON}}}" alt="" srcset="" >
    <p>
{{{SERVICEDESC}}}    </p>

<br>
<p style="color: white;">
<b>Ksh. {{{PRICE}}}  <button id = "addorder" onclick="handleorderbtn({{{ID}}});">+</button></b></p>

</div>
<div>

</div>

{{/each}}



        </div>
    </div>
    <div  class="sub-column-1" id="columnLocation">

        <div  class="sub-column-2" id="locationDiv">

            <h2>Location</h2>
            <h3>Physical Location</h3>
           <div id="location"> {{{row.CONTINENT}}} {{{row.COUNTRY}}} {{{row.TOWNCITY}}} <br> {{{row.ADDRESS}}}</div>

<h3>Branch Location</h3>

<p>
    {{#if isowner}}
    <button style="background-color: green; border:2px solid green;  padding:2%; border-radius:4px; color:white;"
        onclick="handleAddLocation()">Add</button>

                <div class="addLocation"
                    style="position: absolute; width: 400px;  margin:auto; background-color: black; padding: 4%; z-index: 2; opacity: 0.9; display: none;">
                    <p style="color: grey;"> Add Location</p>
                    <form action="/updateaddlocation" method="POST" enctype="multipart/form-data">
                        <label for="serviceName">Continent</label> <br><br>
                        <input type="text" name="continent" id="" required> <br><br>
                        <label for="serviceName">Country</label> <br><br>
<input type="text" name="country" required> <br><br>
                        <label for="serviceName">Town</label> <br><br>
                        <input type="text" name="towncity" id="" required> <br><br>
                        <label for="serviceName">Address</label> <br><br>
                        <input type="text" name="address" id="" required > <br><br>
                        <input type="hidden" name="appname" value="{{{row.BUSINESSNAME}}}">
                        <input type="hidden" name="appid" value="{{{row.ID}}}">
                        <input type="submit" value="submit"
                            style="width: fit-content; color: white; background-color: green; border: 2px solid green; border-radius: 4px; padding: 2%; margin: 2%; text-decoration: none;">
                    </form>
                </div>

    {{/if}}
</p>

{{#each location}}

           <div id="location"> {{{CONTINENT}}} {{{COUNTRY}}} {{{TOWNCITY}}} <br> {{{ADDRESS}}}</div>
   {{/each}}

           <h3>
               Range
           </h3>
            <div id="range">
                Within {{{row.RANGE}}}
                {{#if isowner}}
                <br>
                <button class="editBtn" onclick="handleUpdateRange({{{row.ID}}})">edit</button>
                {{/if}}
            </div>
           

        </div>

        <div class="sub-column-2" id="ratingDiv">

            <h2>Rating</h2>

            <div id="starRate">

{{#if ratings}}
{{#each ratings}}
                <img src="./../images/star.svg" alt="" style="width: 20px;">
                {{/each}}
{{else}}

 <img src="./../images/star (1).svg" alt="" style="width: 20px;">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;">
{{/if}}
               

                {{#if loggedUser.username}}
                <button id = "rateBtn" onclick="handleRateBtn();">Rate</button>
                {{/if}}
                <div id="ratediv">

                <img src="./../images/star (1).svg" alt="" style="width: 20px;" id="one"  class="starCheck" onclick="startClicked('one')">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;" id="two" class="starCheck" onclick="startClicked('two')">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;" id="three" class="starCheck" onclick="startClicked('three')">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;" id="four" class="starCheck" onclick="startClicked('four')">
                <img src="./../images/star (1).svg" alt="" style="width: 20px;" id="five" class="starCheck" onclick="startClicked('five')">
<button id = "subrateBtn" onclick="handleSubRateBtn('{{{loggedUser.username}}}', '{{{row.ID}}}');"> Submit Rate</button>
                </div>
            </div>

        </div>

        <div class="sub-column-2" id="reviewsDiv">

            <h2>Reviews</h2>

            <div id="reviewsPage">
                <div class="addReview">
                    <form action="?" method="post">
                        <label for="comment">Comment</label>
                        <p>

                            <input type="text" name="comment" id="comment">

                            <input type="button" value="submit" id = "commentBtn" onclick="handlecommentbtn({{{row.ID}}}, '{{{loggedUser.username}}}', '{{{loggedUser.profileimage}}}');">
                        </p>
                    </form>
                </div>
                <div class="review" id="reviewsSection">

{{#if comments}}

{{#each comments}}
 <div class="review">
          <div class="clientDetail">

              <div class="profileImg">
                <a href="/profile/{{{USERNAME}}}">  <img src="./../images/{{{PROFILEIMAGE}}}" alt="" srcset="" height="49px" width="20px"></a>

              </div>

              <div class="profilename"> <h5>{{{USERNAME}}}</h5></div>
             
          </div>
         
          <p>{{{BUSINESSREVIEWS}}}</p>

      </div>

      {{/each}}

{{else}}

<p style="color: grey;">There are no comments...</p>
{{/if}}

                </div>
            </div>
        </div>

    </div>
</main>

<div class="column1" id="gallery" style="scroll-behavior: smooth; overflow:auto; max-height: 200vh;">
    <h2>Galllery</h2>

<p>
    {{#if isowner}}
    <button style="background-color: green; border:2px solid green;  padding:2%; border-radius:4px; color:white;"
        onclick="handleAddImage()">Add</button>
        <div class="addImage"
            style="position: absolute; width: 80%; background-color: black; padding: 4%; z-index: 2; opacity: 0.9; display: none;">
            <p style="color: grey;"> Add Image</p>
            <form action="/updateaddimage" method="POST" enctype="multipart/form-data">
                <input type="file" id="iconImgcng" name="img" style="background-color: white;">
                <input type="hidden" name="appname" value="{{{row.BUSINESSNAME}}}">
                <input type="hidden" name="appid" value="{{{row.ID}}}">
                <input type="submit" value="submit"
                    style="width: fit-content; color: white; background-color: green; border: 2px solid green; border-radius: 4px; padding: 2%; margin: 2%; text-decoration: none;">
            </form>
        </div>

    {{/if}}
</p>
    <div  id="gallerycarosol">

{{#each images}}
      <a href="./../images/{{{IMAGELINK}}}">  <img src="./../images/{{{IMAGELINK}}}" class="imagesIng" alt="" srcset="" id="img1"></a>
        <br>
      
      {{/each}}
       
        <button id="imgBack">
            <
        </button>
        <button id="imgNext">
            >
        </button>
      
    </div>

</div>
<div class="column1" id="reel" style="scroll-behavior: smooth; overflow:auto; max-height: 200vh;">
<h2>Reel</h2>
<p>
    {{#if isowner}}
    <button style="background-color: green; border:2px solid green;  padding:2%; border-radius:4px; color:white;"
        onclick="handleAddVideo()">Add</button>
       
            <div class="addVideo"
                style="position: absolute; width: 400px;  margin:auto; background-color: black; padding: 4%; z-index: 2; opacity: 0.9; display: none;">
                <p style="color: grey;"> Add Youtube video link</p>
                <form action="/updateaddvideo" method="POST" enctype="multipart/form-data">
                    <label for="serviceName">Youtube link</label> <br><br>
                    <input type="text" name="youtubeVideo" id="" required> <br><br>
                                  
                    <input type="hidden" name="appname" value="{{{row.BUSINESSNAME}}}">
                    <input type="hidden" name="appid" value="{{{row.ID}}}">
                    <input type="submit" value="submit"
                        style="width: fit-content; color: white; background-color: green; border: 2px solid green; border-radius: 4px; padding: 2%; margin: 2%; text-decoration: none;">
                </form>
            </div>

    {{/if}}
</p>
<div class="videos">
{{#each videos}}
    <iframe width="420" height="345" src="https://www.youtube.com/embed/{{{BUSINESSVIDEOLINK}}}" class="video">
        
    </iframe>
   
{{/each}}
    </div>
</div>

<div class="column1" id="order">

    <h2>Contact</h2>

<div class="form">

   


    <div class="addService" id="socialMedia"  style="height: fit-content;">


        <div class="basicInfo">
         
       <section>

        <div class="inp">
            <div class="lable" for="companyName"> Email : ?optional</div>
            <br>
            <input type="email" name="email" id="email" class="inputText" >
        </div>
    

        <div class="inp">
            <div class="lable" for="companyName"> Topic : </div>
            <br>
            <input type="text" name="topic" id="topic" class="inputText" required>
        </div>
        <div class="inp">
            <div class="lable" for="companyName">Content Body : </div>
            <br>
           <textarea name="content" id="content" cols="30" rows="10" style="width: 90%;" required></textarea>
        </div>

           </section>
      
    
        <div class="next" id="submit">
            <input type="button" value="Submit" class="btnNext" onclick="handleEmailBtn('{{{row.BUSINESSEMAIL}}}', '{{{loggedUser.email}}}', '{{{loggedUser.username}}}', '{{{row.BUSINESSNAME}}}', {{{row.ID}}})">
        </div>
        </div>
    </div>

</div>
      

</div>

<div class="column1" id="related">
<h2>Related</h2>

<div class="relatedApp">
  
{{#each related}}
    <div class="relateddiv">
        <div class="relatedname"> {{{BUSINESSNAME}}}</div>
        <a href="/app/{{{BUSINESSNAME}}}"><img src="./../images/{{{BRANDICON}}}" alt="" srcset=""></a>
    </div>
    {{/each}}

</div>
</div>
<footer style="color: aquamarine;">
    <table width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0">
        <tr>
        <td id="footer"><small>&copy; 2020 by Winslow Georgos. Proudly created with GeorgosTech.</small></td>
        <td><img src="./../images/twitter.svg" alt="" style="width: 20px;"></td>
            <td><img src="./../images/youtube.svg" alt="" style="width: 20px;"></td>
            <td><img src="./../images/instagram.svg" alt="" style="width: 20px;"></td>
            <td><img src="./../images/facebook.svg" alt="" style="width: 20px;"></td>
        </tr>
    </table></footer>

    </div>
    
    

  

   <script src="./../js/serviceapp.js"></script>
</body>
</html>