<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service</title>
    <link rel="stylesheet" href="./../css/style.css">
   
    <script src="./../js/jquery.js"></script>
    <script src="./../js/main.js"></script>

    <link rel="stylesheet" href="./../css/addservice.css">
    <script src="./../js/addservice.js"></script>
</head>
<body>
        
    <header class="headerContainer">
        <div class="container1">
             <div class="icon" >

                <img src="./../images/FizzBizNet.png" alt="" srcset="" width="100px" height="80px">
            </div>
        <div class="appbar">
           
            <div class="appname"><h1 class="bizTitle">FIZZBIZNET</h1></div>
        </div>

          
        <div class="menu">
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>
        <div class="profileIcon" style="order: 3; padding: 2%;">
            <img src="./../images/user.svg" class="menuIcon" style="width: 40px;"/>
        </div>
    </div>
                
    <div class="menuList">
        <div class="menu">
            <img src="./../images/icons8-menu (1).svg" class="menuIcon" style="width: 60px;"/>
            
        </div>
        <a href="./../profile" class="menuitem"> <img   src="./../images/home.svg" alt="" srcset="" width="30px" style=""> <h4>Home</h4></a>
        <a  class="menuitem" id="showToolbar" href="./../homezapps"> <img   src="./../images/customer.svg" alt="" srcset="" width="30px" style=""> <h4> Product&Services</h4></a>
        <a href="./../home" class="menuitem"> <img   src="./../images/team.svg" alt="" srcset="" width="30px" style=""> <h4>About</h4></a>
        <a href="./../Register" class="menuitem"> <img    src="./../images/add (1).svg" alt="" srcset="" width="30px" style=""> <h4> Register</h4></a>
        <a href="./../login" class="menuitem"> <img   src="./../images/log-in.svg" alt="" srcset="" width="30px" style=""> <h4> SignIn </h4></a>
        <a href="./../logout" class="menuitem"><img   src="./../images/log-out.svg" alt="" srcset="" width="30px" style=""> <h4>SignOut </h4></a>
        </div>


       
       
    </header>
    
        <menu type="toolbar" class="toolbarList">

       
        <div class="toolbar-sub-1" id="searchbar">
            <input type="search" name="searchForService" id="">
        </div>
            <div class="toolbar-sub-1" id="wholesalemenu">WholeSales/Retails <div class="sub-wholesale-menu">
                <a href="/apps/101" >Online Stores</a>
                <a href="/apps/102" >Shopping Centers</a>
            </div></div>
            <div class="toolbar-sub-1" id="lifestylemenu">Life Style
                <div class="sub-lifestyle-menu">
                    <a href="/apps/201" >Photography</a>
                   <a href="/apps/202"  >Hotel/Lounge</a>
                   <a href="/apps/203" >Bars/Liquor Stores</a>
                    <div id="beautymenu" >Beauty
                        <div class="sub-beauty-menu">
                            <a href="/apps/301" >MakeUp Artist</a>
                           <a href="/apps/302" >Saloon/Kinyozi</a>
                            <a href="/apps/303" >Accessories</a>
                           
                                <a href="/apps/304">Clothlines/Shoes</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="toolbar-sub-1" id="technologymenu">Technology
                <div class="sub-technology-menu">
                  <a href="/apps/401">Tech Stores</a>
                   <a href="/apps/402">Web Development</a>
                   <a href="/apps/403">Logo Design</a>
                  <a href="/apps/404">Graphic Design</a>
                  <a href="/apps/405">App Development</a>
                   <a href="/apps/406">Game Development</a>
                    <a href="/apps/407">Video Editing</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="educationmenu">Education
                <div class="sub-education-menu">
                    <a href="/apps/501">Schools</a>
                    <a href="/apps/502">Tuitors</a>
                </div>
            </div>
            <div class="toolbar-sub-1" id="consultantmenu">Consult/advisor
                <div class="sub-consultant-menu">
                    <a href="/apps/601">Health</a>
                    <a href="/apps/602">Imformation Technology(IT)</a>
                    <a href="/apps/603">Law</a>
                    <a href="/apps/604">Engineering</a>
                   <a href="/apps/605">Architect&Design</a>
                    <a href="/apps/606">Others</a>
                </div>
           
            
        </div>
    </menu>


    <div class="body">

        <form action="/addService" method="post" enctype="multipart/form-data">

<div class="form">
        <div class="addService" id="basicInfo" style="display: block;">

            <p style="color: red;">{{error}}</p>

            <caption> <h2>Basic Information</h2></caption>
       <section>
        <div class="inp">
            <img src="./../images/businessgazzete.png.jpg" alt="" srcset="" id="icondis"><br><br>
        <label for="companyIcon">Business Brand Icon</label>

        <br><br>
        <p style="color: red;">{{businessIconErr}}</p>
        <input type="file" name="businessIcon" id="iconInput" class="inputText" required>
        <br><br>
    </div>

    <div class="inp">
        <p style="color: red;">{{businessNameErr}}</p>
        <label for="companyName">Business Name</label>
        <br>
        <input type="text" name="businessName" id="" class="inputText" required value="{{{businessName}}}">
    </div>
    <div class="inp">
        <p style="color: red;">{{bizMissionErr}}</p>
        <label for="companyName">Business Mision</label>
        <br><br>
        <input type="text" name="businessMission" id="" class="inputText" required value="{{{businessMission}}}">
    </div>
    <div class="inp">
        <p style="color: red;">{{bizTopicErr}}</p>
        <label for="companyName">Business Topic</label>
        <br><br>
        <input type="text" name="businessTopic" id="" class="inputText" required value="{{{businessTopic}}}">
    </div>
    <div class="inp">
        <p style="color: red;">{{bizIntroErr}}</p>
        <label for="companyName">Business Short Introduction</label>
        <br><br>
        <input type="text" name="businessIntro" id="" class="inputText" required value="{{{businessIntro}}}">
    </div>
    <div class="inp">
        <p style="color: red;">{{bizEmailErr}}</p>
    <label for="companyEmail">Business Email</label>
    <br><br>
    <input type="email" name="businessEmail" id="" class="inputText" autocomplete="email" required value="{{{businessEmail}}}">
</div>
    <div class="inp">
        <p style="color: red;">{{bizCatErr}}</p>
    <label for="companyName">Business Type</label>
    <br><br>

   
  <div class="checkCategory">

    <div class="categoryDiv">
       <select name="category" id="" >
           <optgroup label="Wholesales">
               <option value=101>Online Stores</option>
               <option value="102">Physical Centers</option>
           </optgroup>

           <optgroup label="LifeStyle">
               
                   <option value="301">MakeUp Artist</option>
                   <option value="303">Accessories</option>
                   <option value="302">Saloon/Kinyozi</option>
                   <option value="304">Clothline/Shoes</option>
             
               <option value="202">Hotel/Lounge</option>
               <option value="201">Photography</option>
               <option value="203">Bars/Liquor Stores</option>
           </optgroup>

           <optgroup label="Technology">
               <option value="401">Tech Stores</option>
           
               <option value="402">Web Development</option>

               <option value="403">Logo Design</option>

               <option value="404">Graphic Design</option>

               <option value="405">App Development</option>

               <option value="406">Game Development</option>

               <option value="407">Video Editing</option>

            </optgroup>

            <optgroup label="Education">
                <option value="501">Schools</option>
                <option value="502">Tuitors</option>
            </optgroup>
            <optgroup label="Consultancy">
                <option value="601">Health</option>
                <option value="602">Information Technology(IT)</option>
                <option value="603">Law</option>
                <option value="604">Engineering</option>
                <option value="605">Architech&Design</option>
                <option value="606">Others</option>
            </optgroup>
       </select>

  </div>
</div>
    </div>
    
    </section>

    <div class="next" id="locationNext">
        <a  class="btnNext">Next</a>
    </div>
        </div>

        <div class="addService" id="locationInfo">

            <caption> <h2>Location Information</h2></caption>

          <p style="color: red;">{{hqContinentErr}}</p>

            <div class="branchLocation">

                <h3>Headquater's Location Information</h3>
                <div class="inp">
                    <label for="companyCountry">Headquater's Continent location</label>
                <select name="continent" id="" >
                    <option value="Africa">Africa</option>
                    
                    <option value="Asia">Asia</option>

                    <option value="Europe">Europe</option>

                </select>
                </div>
                <div class="inp">
                    <label for="companyCountry">HQ Country Location</label>
                    <input type="text" name="HQcountry" id="" class="input" required value="{{{businessCountry}}}">
                </div>

                <div class="inp">
                    <label for="companyCountry">HQ Town/City Location</label>
                    <input type="text" name="HQcity" id="" class="input" required value="{{{businessTown}}}">
                </div>

                <div class="inp">
                    <label for="companyCountry">HQ Address</label>
                    <input type="text" name="HQaddress" id="" class="input" required value="{{{businessAddress}}}">
                </div>
            </div>

          

           <div class="rangeInfo">

            <div class="rangeIntro">
                Enter the range within which your company can provide products or serivices. <br> You can enter range if your company can provide services within Town / Country/ Region like East Africa or Africa or even if its is the whole world.
            </div>
            <div class="inp">
                <p style="color: red;">{{bizRangeErr}}</p>
                <label for="companyRange">Range is Within</label>
                <input type="text" name="range" id="" value="{{{businessRange}}}" class="input" placeholder="Enter Company Range e.g World or Africa or East Africa or Kenya or Nairobi" required>
            </div>
           </div>
<div class="next" id="socialNext">
        <a  class="btnNext">Next</a>
    </div>


    <div class="next" id="basicPrevious">
        <a  class="btnNext">previous</a>
    </div>
        </div>


       
        <div class="addService" id="socialMedia">
            <caption> <h2>Social Media Information</h2></caption>

            <div class="social">

                <div class="inp">
                    <label for="companyCountry">Facebook Link</label>
                    <input type="url" name="facebook" id="" class="input">
                </div>
                <div class="inp">
                    <label for="companyCountry">Instagram LInk</label>
                    <input type="url" name="instagram" id="" class="input">
                </div>
                <div class="inp">
                    <label for="companyCountry">Twitter Link</label>
                    <input type="url" name="twitter" id="" class="input">
                </div>
                <div class="inp">
                    <label for="companyCountry">Github Link</label>
                    <input type="url" name="github" id="" class="input">
                </div>
                <div class="inp">
                    <label for="companyCountry">Linkedln Link</label>
                    <input type="url" name="linkedln" id="" class="input">
                </div>
                <div class="inp">
                    <label for="companyCountry">Youtube Channel Link</label>
                    <input type="url" name="youtube" id="" class="input">
                </div>
            </div>
                  
            <div class="next" id="submit">
                <input type="submit" value="submit" class="btnNext">
            </div>

                <div class="next" id="locationPrevious">
        <a  class="btnNext">previous</a>
    </div>
        </div>
</div>

    </form>


        <footer style="color: aqua;">
            <table width="76%" border="0" align="center" valign="bottom" cellspacing="0" cellpadding="0">
                <tr>
                <td id="footer"><small>&copy; 2020 by Winslow Georgos. Proudly created with GeorgosTech.</small></td>
                <td><img src="./../images/twitter.svg" alt="" style="width: 20px;"></td>
                    <td><img src="./../images/youtube.svg" alt="" style="width: 20px;"></td>
                    <td><img src="./../images/instagram.svg" alt="" style="width: 20px;"></td>
                    <td><img src="./../images/facebook.svg" alt="" style="width: 20px;"></td>
                </tr>
            </table></footer>
            
    </div>
</body>
</html>